.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.login-form input,
.login-form button {
  height: 40px;
  border: 0;
  border-radius: 4px;
}

.login-form input {
  margin-right: 12px;
  padding: 0 10px;
  background-color: #393f4a;
  min-width: 150px;
  color: white;
}

.login-form input:focus {
  outline: none;
  background-color: #424855;
}

.login-form button {
  background-color: #61dafb;
  width: 60px;
}

.login-form button:focus {
  outline: none;
}
